.flexDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDivImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDivImage_old {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.5;
}

body{
    background-color: black;
}

h1, h2, text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

.sousMessageFraisSup {
    color: white;
}

.DivBoutonConnection {    
    margin-top: 20px;
    display: grid;
    place-items: center;
}

.Neutre, .Benefice, .Perte {
    font-family: 'Arial', sans-serif;
}

.Neutre { 
    color: grey;
}

.Neutre:hover {
    color: white;
}

.Benefice {
    color: green;
}

.Benefice:hover{
    color: lightgreen;
}

.Perte {
    color: darkred;
}

.Perte:hover {
    color: red;
}

.message_vert {
    color: green;
}

.message_rouge {
    color: darkred;
}

.listeVenteScrollbar {
    overflow-y: auto;
    max-height: 50vh;
    margin: 10px;
    padding: 10px;
}

.vente_div {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: white;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
    width: 200px;
    height: 50px;
    gap :10px;
}

.vente_cours_surnom {
    font-size: 12px;
}

.vente_dateVente {
    font-size: 12px;
}

.vente_gp {
    position: absolute;
}

.vente_div {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: white;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
    width: 200px;
    height: 50px;
    gap :10px;
    justify-content: center;
    align-items: center;
}

.vente_cours_surnom {
    color: white;
    position: absolute;
    top: 5px;
    left: 30px;
    font-weight: bold;
}

.vente_gp {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 14px;
}

.vente_dateVente {
    color: white;
    position: absolute;
    bottom: 2px;
    right: 3px;
    font-size: 12px;
}

.GrapheImage {
    width: 60%;
    height: 30%;
}

.radioLabel {
    color: white;
}

.vente_effetLevier {
    color: white;
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 14px;
}