{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../style/Tout.css" /> 
{% endblock %}

{% block title %}{{ 'Muc' }}{% endblock %}

{% block body %}

    <div max-width:fit-content>
        <h1>feur</h1>
    </div>

{% endblock %}